<div class="row mt-5">
  <div class="col">
    <h1>our top prodcuts</h1>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div
    class="col-xs-12 col-sm-10 col-md-6 col-lg-4"
    *ngFor="let product of products"
  >
    <app-product [product]="product"></app-product>
  </div>
</div>
<div class="row mb-5 pagination-btns-hook">
  <button
    class="btn btn-primary"
    [disabled]="pageIndex == 1"
    (click)="getProductByPagination(-1)"
  >
    <i class="fa-sharp fa-solid fa-chevron-left"></i>
  </button>
  <strong>page num {{ pageIndex }}</strong>
  <button class="btn btn-primary" (click)="getProductByPagination(1)">
    <i class="fa-sharp fa-solid fa-chevron-right"></i>
  </button>
</div>
