.cart-product {
  box-shadow: var(--mainBoxShadow);
  border-radius: 5px;
  overflow: hidden;
  height: 100px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-product img {
  width: 90px;
  height: 100%;
}
.quan-btns {
  width: 50px;
  text-align: center;
}
.quan-btns span {
  display: block;
  margin: auto;
}
.quan-btns button {
  border: none;
  background-color: transparent;
  margin: 0px 10px;
}
.empty-cart button {
  background-color: var(--mainColor);
  color: #fff;
}
.check-out button {
  background-color: #080;
  color: #fff;
}
