.check-out {
  padding: 20px;
  text-align: center;
  box-shadow: var(--mainBoxShadow);
  border-radius: 5px;
}
.check-out > div {
  display: flex;
  justify-content: space-between;
  color: var(--textMainColor);
}
.check-out button {
  background-color: #080;
  color: #fff;
  width: 250px;
  height: 45px;
  border-radius: 5px;
  font-weight: bold;
}
