<div
  *ngIf="cart.products.length > 0"
  class="row flex-column justify-content-center align-items-center mt-5"
>
  <div
    *ngFor="let product of cart.products"
    class="col-xs-12 col-sm-12 col col-md-8 col-lg-8 mb-3"
  >
    <app-cart-product [product]="product"></app-cart-product>
  </div>
  <div class="col-xs-8 col-sm-6 col-lg-4 mb-3">
    <div class="check-out">
      <div class="cart-quantity">
        <h6><strong>total quantity</strong></h6>
        <p>
          <strong>{{ cart.totalQuantity }}</strong>
        </p>
      </div>
      <div class="cart-price">
        <h6><strong>total price</strong></h6>
        <p>
          <strong
            >{{ cart.totalPrice }} <i class="fa-solid fa-dollar-sign"></i
          ></strong>
        </p>
      </div>
      <hr />
      <button class="btn">
        <i class="fa-solid fa-credit-card"></i> checkOut
      </button>
    </div>
  </div>
</div>
