<div class="product-hook">
  <div class="header">
    <img [src]="product.thumbnail" alt="" />
  </div>
  <div class="info">
    <div class="title">
      <p>
        <strong>{{ product.title }}</strong>
      </p>
    </div>
    <div class="description">
      <p>{{ product.description | textShorten : 55 }}</p>
    </div>
    <div *ngIf="product.discountPercentage === 0" class="price">
      <p>{{ product.price }} <i class="fa-solid fa-dollar"></i></p>
    </div>
    <div *ngIf="product.discountPercentage !== 0" class="price">
      <p>
        <strong>
          <span [ngStyle]="{ 'text-decoration': 'line-through' }">{{
            product.price
          }}</span>
          <span>{{
            product.price | clacPriceAfterDiscount : product.discountPercentage
          }}</span>
          <i class="fa-solid fa-dollar"></i
        ></strong>
      </p>
    </div>
  </div>
  <div class="buy" *ngIf="!isProductInCart || productQuantity <= 0">
    <button class="btn" (click)="onAddProduct()">
      <i class="fa-sharp fa-solid fa-cart-plus"></i>
      add product
    </button>
  </div>
  <div class="isProductInCart" *ngIf="isProductInCart && productQuantity > 0">
    <button (click)="onDecrproductQuan()">
      <i class="fa-solid fa-minus"></i>
    </button>
    <strong>{{ productQuantity }} items in cart</strong>
    <button (click)="onIncPooductQuan()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
