/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
:root {
  --mainColor: #146ebe;
  --textMainColor: #6e7076;
  --mainBoxShadow: 2px 2px 4px #ccc, -2px -2px 4px #ccc;
  --warnColor: #c63100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Mulish";
  text-transform: capitalize !important;
  font-size: 1rem;
}
input.ng-touched.ng-valid {
  border-color: #080 !important;
}
input.ng-touched.ng-invalid {
  border-color: var(--warnColor) !important;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
